{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <h1>Reset Your Password</h1>
    {% if validlink %}
        <p>
            please enter your passsword twice.
        </p>
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <p>
                <div class="form-group" id="signup-button">
                    <button class="btn " input type="submit" value="change My Password">Change Password</button>
                </div>
            </p>
        </form>
    {% else %}
        <p>
            The passsword reset link was invalid. Possibly because it has already been used. please request a new passsword reset request. 
    {% endif %}
{% endblock %}

<div class="form-group" id="signup-button">
    <button class="btn " input type="submit" value="Sign Up">Sign Up</button>
</div>